.container
  .chart
    .cover
      .line
      .cover-title
        h1.cover-maintitle 九九乘法表
        h2.cover-subtitle MULTIPLICATION CHART
      .line

  .footer
    .credit Copyright © 2019 HexSchool. All rights reserved.