.top WORLD CLOCK
.table
  .cell
    .city 
      .date 
    .time 
  .cell
    .city 
      .date
    .time 
  .cell
    .city 
      .date 
    .time 
  .cell
    .city 
      .date 
    .time 
  .cell
    .city 
      .date 
    .time 